#pdfControls {
    position: relative;
    background: #f0f0f0;
    padding: 8px;
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #aaa;
    z-index: 10;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    width:100%;
}

    #pdfControls > button {
        border: 1px solid #aaa;
        border-radius: 3px;
        min-width: 27px;
        color: #656565;
    }

#pdfContainer {
    position: relative;
    background-color: #ccc;
    padding: 2rem;
    height: 70vh;
    width: 100%;
    overflow: auto;
    border: 1px solid #aaaaaa17;
    box-sizing: border-box;
    cursor: default;
    /*display: flex;
    justify-content: center;
    align-items: flex-start;*/
}
#pdfCanvas {
    position: absolute;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
    display: inline-block;
    cursor: grab;
}
