#pdfControls {
    position: relative;
    background: #f0f0f0;
    padding: 8px;
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #aaa;
    z-index: 10;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    width:100%;
}

    #pdfControls > button {
        border: 1px solid #aaa;
        border-radius: 3px;
        min-width: 27px;
        color: #656565;
    }

#prevPage {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23656565" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><line x1="4" y1="12" x2="20" y2="12" /> <line x1="4" y1="12" x2="10" y2="6" /> <line x1="4" y1="12" x2="10" y2="18" /> </svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: transparent;
}

#nextPage {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23656565" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><line x1="4" y1="12" x2="20" y2="12" /> <line x1="20" y1="12" x2="14" y2="6" /><line x1="20" y1="12" x2="14" y2="18" /> </svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: transparent;
}

#fullWidth {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23656565" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><line x1="4" y1="5" x2="4" y2="20" /><line x1="4" y1="12" x2="20" y2="12" /><line x1="20" y1="5" x2="20" y2="20" />  <line x1="4" y1="12" x2="8" y2="8" /> <line x1="4" y1="12" x2="8" y2="16" /> <line x1="20" y1="12" x2="16" y2="8" /><line x1="20" y1="12" x2="16" y2="16" /></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: transparent;
}

#pdfContainer {
    position: relative;
    background-color: #ccc;
    padding: 2rem;
    height: 70vh;
    width: 100%;
    overflow: auto;
    border: 1px solid #aaaaaa17;
    box-sizing: border-box;
    cursor: default;
    /*display: flex;
    justify-content: center;
    align-items: flex-start;*/
}
#pdfCanvas {
    position: absolute;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
    display: inline-block;
    cursor: grab;
}
