@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<button class="btn btn-primary mb-1" @onclick="@(() => OnClickLoadPdf("diary.pdf"))">Load PDF</button>
<button class="btn btn-primary mb-1" @onclick="@(() => OnClickLoadPdf("diary-2.pdf"))">Load PDF 2 pages</button>

<br />

<div id="pdfControls">
	<button id="prevPage"></button>
	<span id="pageInfo">Page: 1 / 1</span>
	<button id="nextPage"></button>
	<button id="zoomOut">-</button>
	<button id="zoomDefault" style="min-width:60px"></button>
	<button id="zoomIn">+</button>
	<button id="fullWidth"></button>
</div>
<div id="pdfContainer">
	<canvas id="pdfCanvas" width="800" height="600"></canvas>
</div>
